name: Docker Build multiplatform image and push to registry

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      MIDNIGHTBOT_PACKAGES_WRITE:
        required: true
      ATTIC_CACHE_TOKEN:
        required: true
      GH_USERNAME:
        required: true
      GH_PASSWORD:
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest-8-core-x64
    steps:
      - name: Setup api.github.com credentials
        uses: extractions/netrc@f6f1722d05ce2890aa86fd9654565b1214ac53a4
        with:
          machine: api.github.com
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}

      - name: Setup github.com credentials
        uses: extractions/netrc@f6f1722d05ce2890aa86fd9654565b1214ac53a4
        with:
          machine: github.com
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}

      - name: Docker login to GHCR
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1
        with:
          registry: ghcr.io
          username: ntwrk-bot
          password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

      - name: Configure git rewrite
        run: |
          mkdir -p $HOME/.config/git
          echo '[url "https://github.com/"]' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com:"' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com/"' >> $HOME/.config/git/config
          echo '  insteadOf = "ssh://git@github.com/"' >> $HOME/.config/git/config

      - name: Checkout ledger repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  #v5.0.0

      - name: Install Nix
        uses: cachix/install-nix-action@a809471b5c7c913aa67bec8f459a11a0decc3fce
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            netrc-file = ~/.netrc
            access-tokens = github.com=${{ secrets.GH_PASSWORD }} api.github.com=${{ secrets.GH_PASSWORD }}
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            extra-substituters = https://cache.iog.io file://${{ runner.temp }}/nix-binary-cache
            accept-flake-config = true

      - name: Cache Nix
        uses: input-output-hk/actions/attic@latest
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          endpoint: https://attic.ci.iog.io
          cache: midnight-public
          access_token: ${{ secrets.ATTIC_CACHE_TOKEN }}

      - name: Create proof-server images
        run: |
          PROOF_SERVER_VERSION=$(nix eval --raw .#proof-server-version)
          git pull
          nix build -L .#proof-server-oci
          docker load -i result
          docker push ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION-amd64
          nix build -L .#proof-server-oci-arm64
          docker load -i result
          docker push ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION-arm64
          docker manifest create --amend ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION \
            ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION-amd64 \
            ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION-arm64
          docker manifest push ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION
          if [[ "$PROOF_SERVER_VERSION" != *"-"* ]]; then
            docker manifest create --amend ghcr.io/midnight-ntwrk/proof-server:latest \
              ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION-amd64 \
              ghcr.io/midnight-ntwrk/proof-server:$PROOF_SERVER_VERSION-arm64
            docker manifest push ghcr.io/midnight-ntwrk/proof-server:latest
          fi
